@model TopMenuModel


<div class="header-nav-wrapper">
    <div class="container">
        <div class="header-bottom-inner bg-blue">
            <div class="row no-gutters">
                <!-- Category Nav -->
                <div class="col-lg-3 col-md-8">
                    <!-- Category Nav Start -->
                    <div class="category-nav-wrapper bg-blue">
                        <div class="category-nav">
                            <h2 class="category-nav__title primary-bg" id="js-cat-nav-title">
                                <i class="fa fa-bars"></i>
                                <span>SẢN PHẤM</span>
                            </h2>

                            <ul class="category-nav__menu" id="js-cat-nav">
                                @foreach (var category in Model.Categories)
                                {
                                    <li class="category-nav__menu__item">
                                        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Category Nav End -->
                    <div class="category-mobile-menu"></div>
                </div>
                <!-- Main Menu -->
                <div class="col-lg-7 d-none d-lg-block">
                    <nav class="main-navigation white-color">
                        <!-- Mainmenu Start -->
                        <ul class="mainmenu">
                            <li class="mainmenu__item">
                                <a href="@Url.RouteUrl("Homepage")" class="mainmenu__link">TRANG CHỦ</a>
                            </li>


                            <li class="mainmenu__item">
                                <a href="@Url.RouteUrl("NewsItem", new { SeName = "gioi-thieu-cong-ty" })" class="mainmenu__link">Giới thiệu</a>
                            </li>
                            <li class="mainmenu__item">
                                <a href="@Url.RouteUrl("ContactUs")" class="mainmenu__link">Liên hệ</a>
                            </li>

                            <li class="mainmenu__item">
                                <a href="@Url.RouteUrl("NewsArchive")" class="mainmenu__link">Tin tức</a>
                            </li>

                            <li class="mainmenu__item">
                                <a href="@Url.RouteUrl("Blog")" class="mainmenu__link">Blog</a>
                            </li>

                            <!-- Mobile Menu -->
                            <div class="col-12 d-flex d-lg-none order-2 mobile-absolute-menu">
                                <!-- Main Mobile Menu Start -->
                                <div class="mobile-menu"></div>
                                <!-- Main Mobile Menu End -->
                            </div>
                </div>
            </div>
        </div>
        <div class="fixed-header sticky-init">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <!-- Sticky Logo Start -->
                        <a class="sticky-logo" href="index.html">
                            <img src="image/SumiPet_logo_2.png" alt="logo">
                        </a>
                        <!-- Sticky Logo End -->
                    </div>
                    <div class="col-lg-9">
                        <!-- Sticky Mainmenu Start -->
                        <nav class="sticky-navigation">
                            <ul class="mainmenu sticky-menu">
                                <li class="mainmenu__item ">
                                    <a href="@Url.RouteUrl("Homepage")" class="mainmenu__link">TRANG CHỦ</a>
                                </li>
                                <li class="mainmenu__item menu-item-has-children sticky-has-child ">
                                    <a href="index.html" class="mainmenu__link">Sản phẩm</a>
                                    <ul class="sub-menu">

                                        @foreach (var category in Model.Categories)
                                        {
                                            <li>
                                                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                                            </li>

                                        }
                                    </ul>
                                </li>

                                <li class="mainmenu__item">
                                    <a href="@Url.RouteUrl("NewsItem", new { SeName = "gioi-thieu-cong-ty" })" class="mainmenu__link">Giới thiệu</a>
                                </li>
                                <li class="mainmenu__item">
                                    <a href="@Url.RouteUrl("ContactUs")" class="mainmenu__link">Liên hệ</a>
                                </li>

                                <li class="mainmenu__item">
                                    <a href="@Url.RouteUrl("NewsArchive")" class="mainmenu__link">Tin tức</a>
                                </li>

                                <li class="mainmenu__item">
                                    <a href="@Url.RouteUrl("Blog")" class="mainmenu__link">Blog</a>
                                </li>


                            </ul>
                            <div class="sticky-mobile-menu  d-lg-none">
                                <span class="sticky-menu-btn"></span>
                            </div>
                        </nav>
                        <!-- Sticky Mainmenu End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
