@model HomepageNewsItemsModel



@if (false)
{
    <div class="news-list-homepage">
        <div class="title">
            <strong>@T("News")</strong>
        </div>
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
                <div class="news-item">
                    <div class="news-head">
                        <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                        <span class="news-date">-@item.CreatedOn.ToString("D")</span>
                    </div>
                    <div class="news-body">
                        @Html.Raw(item.Short)
                    </div>
                    <div class="buttons">
                        <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more">@T("News.MoreInfo")</a>
                    </div>
                </div>
            }
        </div>
        <div class="view-all">
            <a href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
        </div>
    </div>

}
@if (Model.NewsItems.Count > 0)
{
    <div class="pt--50">
        <div class="container">
            <div class="block-title">
                <h2>TIN TỨC MỚI NHất</h2>
            </div>
            <div class="petmark-slick-slider border normal-slider blog-slider"
                 data-slick-setting='{
                "autoplay": true,
                "autoplaySpeed": 3000,
                "slidesToShow": 2,
                "arrows": true
            }'
                 data-slick-responsive='[
                {"breakpoint":991, "settings": {"slidesToShow": 2} },
                {"breakpoint":768, "settings": {"slidesToShow": 1} }
            ]'>

                @foreach (var item in Model.NewsItems)
                {
                    <div class="single-slide">
                        <div class="blog-post card-style-list--2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="blog-details.html" class="image overflow-image">
                                        <img src="@item.PictureModel.ImageUrl   " alt="">
                                    </a>
                                </div>
                                <div class="col-lg-6 mt-4 mt-lg-0">
                                    <div class="blog-content">
                                        <header class="mb-0">
                                            <h2 class="blog-date">
                                                @{ 
                                                    //string monthName = item.CreatedOn .ToString("MMM", System. CultureInfo.InvariantCulture);
                                                }
                                                <span class="day">@item.CreatedOn.Day </span><span class="month"> @item.CreatedOn.ToString("MMM") </span><span class="year">
                                                    @item.CreatedOn.Year
                                                </span>
                                            </h2>
                                            <h3 class="blog-title">@item.Title</h3>
                                        </header>
                                        <div>
                                            <p>
                                                @item.Short
                                            </p>
                                        </div>
                                        <footer class="blog-post-footer mt-0">
                                            <div class="blog-btn">
                                                <a href="blog-details.html">Read More</a>
                                            </div>

                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                @*<div class="single-slide">
                        <div class="blog-post card-style-list--2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="blog-details.html" class="image overflow-image">
                                        <img src="image/others/home-blog-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-6 mt-4 mt-lg-0">
                                    <div class="blog-content">
                                        <header class="mb-0">
                                            <h2 class="blog-date">
                                                <span class="day">01 </span><span class="month"> Dec </span><span class="year">
                                                    14
                                                </span>
                                            </h2>
                                            <h3 class="blog-title">Blog Image Post</h3>
                                        </header>
                                        <div>
                                            <p>
                                                Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue
                                                condimentum
                                                rhoncus. Praesent
                                            </p>
                                        </div>
                                        <footer class="blog-post-footer mt-0">
                                            <div class="blog-btn">
                                                <a href="blog-details.html">Read More</a>
                                            </div>

                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
}


